<!--    define base template    -->
{% extends "layout.html" %}

<!--    inherit base template <head>    -->
{% block head %}
{{ super() }}
{% endblock %}

<!--    add.html content begins -->
{% block content %}

<div class="row my-5">
    <div class="col">
        <h1>Add a Recipe</h1>
    </div>
</div>

<div class="row my-5">
    <div class="col">
        <form action="" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" name="title" id="title" class="form-control">
            </div>
            <div class="mb-3">
                <label for="ingredients" class="form-label">Ingredients:</label>
                <textarea rows="7" name="ingredients" id="ingredients" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="instructions" class="form-label">Instructions:</label>
                <textarea id="instructions" rows="7" cols="40" name="instructions" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
