<!--    define base template    -->
{% extends "layout.html" %}

<!--    inherit base template <head>    -->
{% block head %}
{{ super() }}
{% endblock %}

<!--    add.html content begins -->
{% block content %}
<h1>Add a Recipe</h1>
<form action="" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title">
    <label for="ingredients">Ingredients:</label>
    <input type="text" name="ingredients">
    <label for="instructions">Instructions:</label>
    <input type="text" name="instructions">
    <button type="submit">Submit</button>
</form>
{% endblock %}