<!--    define base template    -->
{% extends "layout.html" %}

<!--    inherit base template <head>    -->
{% block head %}
{{ super() }}
{% endblock %}

<!--    index.html content to add to base template  -->
{% block content %}
<h1>Recipes</h1>

{% if all_recipes == []: %}
<p>There are no recipes</p>
{% else %}

<table>
    <thead>
    <tr>
        <th>Recipes</th>
    </tr>
    </thead>
    <tbody>
    {% for recipe in all_recipes %}
    <tr>
        <td>
            <a href="{{ url_for('recipe_detail', id=recipe.id) }}">{{ recipe.title }} {{ recipe.id }}</a>
        </td>
        <td>
            <a href="">Edit</a>

        </td>
        <td>
            <a href="{{ url_for('delete', id=recipe.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<a href="{{ url_for('add_recipe') }}">Add a recipe</a>
{% endblock %}
