<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe</title>
</head>
<body>
<h1>Recipes</h1>

{% if all_recipes == []: %}
<p>There are no recipes</p>
{% else %}

<table>
    <thead>
    <tr>
        <th>Recipes</th>
    </tr>
    </thead>
    <tbody>
    {% for recipe in all_recipes %}
    <tr>
        <td>
            <a href="{{ url_for('recipe_detail', id=recipe.id) }}">{{ recipe.title }} {{ recipe.id }}</a>
        </td>
        <td>
            <a href="">Edit</a>

        </td>
        <td>
            <a href="{{ url_for('delete', id=recipe.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<a href="{{ url_for('add_recipe') }}">Add a recipe</a>
</body>
</html>